@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html,
body {
  /* font-size: 62.5%; */
  width: 100%;
  height: 100vh;

  padding: 0;
  margin: 0;
  position: fixed;
  overflow: auto;

  /* iOS only */
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

* {
  box-sizing: border-box !important;
  -moz-box-sizing: border-box !important; /* Firefox */
  -webkit-box-sizing: border-box !important; /* Safari */
  /*아이폰 버튼 클릭 깜박임 해제*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Safari ver 15 이상에서 로딩 중 이미지 회색 테두리 표시 제거 */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* react-slick css */

.detail-slider {
  margin-left: -1rem;
  width: 100vw;
}

.detail-slider .slick-dots button:before {
  color: #c5cbd5;
}

.detail-slider .slick-dots li.slick-active button::before {
  color: #3687ff;
  opacity: 1;
}

.detail-slider .slick-dots {
  bottom: -30px;
}

.detail-slider .slick-dots li {
  width: 10px;
  font-size: 4px;
}

.onboarding_slider .slick-slide > div > div {
  outline: none;
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
  align-items: center !important;
}

.onboarding_slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.dots_custom li.slick-active button {
  background-color: #3687ff;
}

.dots_custom {
  display: inline-block;
  vertical-align: middle;
  margin: auto 0;
  padding: 0;
  bottom: -20px;
}

.dots_custom li {
  list-style: none;
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
  padding: 0;
}

.dots_custom li button {
  border: none;
  background: #c5cbd5;
  color: transparent;
  cursor: pointer;
  display: block;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  padding: 0;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.animate-shimmer {
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
  background: linear-gradient(to right, #eceff5 4%, #e5e8eb 25%, #e2e4e9 36%);
  background-size: 200px 120px;
  position: relative;
}

.animate-shimmer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  height: 120px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.2) 50%,
    transparent 100%
  );

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
}
