@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


@font-face {
  font-family: 'system1';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-size: 24px;
  font-style: normal;
}
@font-face {
  font-family: 'system2';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-size: 20px;
  font-style: normal;
}
@font-face {
  font-family: 'system3';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-size: 18px;
  font-style: normal;
}
@font-face {
  font-family: 'system4';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-size: 16px;
  font-style: normal;
}
@font-face {
  font-family: 'system5';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-size: 14px;
  font-style: normal;
}
@font-face {
  font-family: 'system6';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-size: 12px;
  font-style: normal;
}




@font-face {
  font-family: 'system4_medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-size: 16px;
  font-style: normal;
}
@font-face {
  font-family: 'system5_medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-size: 14px;
  font-style: normal;
}
@font-face {
  font-family: 'system6_medium';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
  font-size: 12px;
  font-style: normal;
}



@font-face {
  font-family: 'system1_bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-size: 24px;
  font-style: normal;
}
@font-face {
  font-family: 'system2_bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-size: 20px;
  font-style: normal;
}
@font-face {
  font-family: 'system3_bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-size: 18px;
  font-style: normal;
}
@font-face {
  font-family: 'system4_bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-size: 16px;
  font-style: normal;
}
@font-face {
  font-family: 'system5_bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-size: 14px;
  font-style: normal;
}
@font-face {
  font-family: 'system6_bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
  font-size: 12px;
  font-style: normal;
}